.mapWrapper {
    display: block;
    width: 100%;
    // max-width: 40.0rem;
    margin: 4rem auto 6rem;
    border: 1px solid black;
}

.container {
    padding: 10px;
    position: relative;
    height: 500px;
    .item {
        position: absolute;
        width: 50%;
        margin: 3rem auto 0;
    }
}

.formWraps {
    max-width: 15.0rem;
    margin: 3rem auto 0;
    text-align: center;
    left: 1%;
}

.mapWraps {
    left: 49%;
}