.mapWrapper {
    display: block;
    width: 100%;
    // max-width: 40.0rem;
    margin: 4rem auto 6rem;
    border: 1px solid black;
}

.container {
    padding: 10px;
    position: relative;
    height: 500px;
    .item {
        width: 50%;
        margin: 3rem auto 0;
        float: left;
    }
}

.formWrap {
    max-width: 40.0rem;
    margin: 3rem auto 0;
}