.service {
    visibility: visible; 
    animation-delay: 0.1s; 
    animation-name: fadeInUp;
}

.serviceTwo{
    visibility: visible; 
    animation-delay: 0.2s; 
    animation-name: fadeInUp;
}

.serviceThree{
    visibility: visible; 
    animation-delay: 0.3s; 
    animation-name: fadeInUp;
}